* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#overlays {
    display: none;
}

#hold {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 24vmin;
    height: 96vmin;
}

#next {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 24vmin;
    height: 96vmin;
}

#matrix {
    display: grid;
    border-radius: 2px;
    border: 0.2vmin solid #393939;
    /* Matrix is defined to be 20 by 10 */
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    width: 48vmin;
    height: 96vmin;
}

.empty {
    border: 1px dotted #393939;
    border-radius: 8px;
}

.ghost {
    background-color: #2b2b2b;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
}

.o {
    background-color: #F2D74C;
}

.i {
    background-color: #65DBC8;
}

.l {
    background-color: #EDA93F;
}

.j {
    background-color: #3358DD;
}

.s {
    background-color: #7ACD44;
}

.t {
    background-color: #C132D0;
}

.z {
    background-color: #D83A28;
}